{
	"presets": ["es2015-node", "stage-1"],
	"plugins": [
		"transform-runtime",
		"transform-regenerator",
		"transform-async-to-generator",
		"dev-expression",
	],
	"env": {
		"development": {
			"sourceMaps": "inline"
		}
	}
}
